html {
  scrollbar-gutter: stable;
}
body {
  max-width: 800px;
  margin:  5px auto 30px;
  cursor: default;
  font-family: Arial, Meiryo;
}
#error_message, #loading {
  white-space: pre-wrap;
}

img {
  width: 200px;
}

.margin-box {
  margin-bottom: 40px;
}

.sense-render-box {
  height: 210px;
  width: 100%;
  font-weight: bold;
}
.sense-lane {
  width: 100%;
  height: 40px;
  display: flex;
}
.sense-lane:not(:last-of-type) {
  border-bottom: 2px solid black;
}
.sense-lane-ct {
  font-weight: initial;
  line-height: 40px;
  width: 50px;
}
.sense-lane-box {
  width: 100%;
  position: relative;
}
.sense-node {
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(177,177,177)' stroke='rgb(145,145,145)' stroke-width='1.5' y='39'>✦</text></svg>");
  color: white;
  z-index: 10;
}
.sense-node.failed {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(177,177,177)' stroke='rgb(145,145,145)' stroke-width='1.5' y='39'>✦</text><path fill='rgba(0,0,0,0.5)' d='M32,3L3,32L8,37L37,8Z'></path></svg>");
}
*[data-sense-type="support"] .sense-node,*[data-sense-type="support"].sense-node {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(141,229,83)' stroke='rgb(98,187,69)' stroke-width='1.5' y='39'>✦</text></svg>");
}
*[data-sense-type="control"] .sense-node,*[data-sense-type="control"].sense-node {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(235,67,64)' stroke='rgb(192,54,54)' stroke-width='1.5' y='39'>✦</text></svg>");
}
*[data-sense-type="amplification"] .sense-node,*[data-sense-type="amplification"].sense-node {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(255,199,63)' stroke='rgb(236,180,35)' stroke-width='1.5' y='39'>✦</text></svg>");
}
*[data-sense-type="special"] .sense-node,*[data-sense-type="special"].sense-node {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(52,90,212)' stroke='rgb(40,80,188)' stroke-width='1.5' y='39'>✦</text></svg>");
}
*[data-sense-type="variable"] .sense-node,*[data-sense-type="variable"].sense-node {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(255,255,255)' stroke='rgb(200,200,200)' stroke-width='1.5' y='39'>✦</text></svg>");
  color: black;
}
*[data-sense-type="support"] .sense-node.failed {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(141,229,83)' stroke='rgb(98,187,69)' stroke-width='1.5' y='39'>✦</text><path fill='rgba(0,0,0,0.5)' d='M32,3L3,32L8,37L37,8Z'></path></svg>");
}
*[data-sense-type="control"] .sense-node.failed {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(235,67,64)' stroke='rgb(192,54,54)' stroke-width='1.5' y='39'>✦</text><path fill='rgba(0,0,0,0.5)' d='M32,3L3,32L8,37L37,8Z'></path></svg>");
}
*[data-sense-type="amplification"] .sense-node.failed {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(255,199,63)' stroke='rgb(236,180,35)' stroke-width='1.5' y='39'>✦</text><path fill='rgba(0,0,0,0.5)' d='M32,3L3,32L8,37L37,8Z'></path></svg>");
}
*[data-sense-type="special"] .sense-node.failed {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(52,90,212)' stroke='rgb(40,80,188)' stroke-width='1.5' y='39'>✦</text><path fill='rgba(0,0,0,0.5)' d='M32,3L3,32L8,37L37,8Z'></path></svg>");
}
.sense-star::before {
  content: "✦";
  color: rgb(177,177,177);
}
.sense-star[data-sense-type="support"]::before {
  color: #228b22;
}
.sense-star[data-sense-type="control"]::before {
  color: #ff0000;
}
.sense-star[data-sense-type="amplification"]::before {
  color: #ffd700;
}
.sense-star[data-sense-type="special"]::before {
  color: #0000ff;
}
.sense-star.gray-background {
  background-color: #D0D0D0;
}
.sense-star.pad-size {
  padding: 2px 4px;
}
.start-live-extra-lights {
  float: right;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: relative;
}

.card-attribute-cute::before {
  content: "憐";
  color: #ff679d;
  font-size: 0.8em;
}
.card-attribute-cool::before {
  content: "凛";
  color: #33B4DF;
  font-size: 0.8em;
}
.card-attribute-colorful::before {
  content: "彩";
  color: #7AC940;
  font-size: 0.8em;
}
.card-attribute-cheerful::before {
  content: "陽";
  color: #FF9314;
  font-size: 0.8em;
}

.posters > div {
  margin-bottom: 1em;
}
.accessories > div {
  margin-bottom: 1em;
}

.stat {
  text-align: right;
}
table.stat-details {
  text-align: center;
  white-space: pre-wrap;
  border-collapse: collapse;
}
.stat-value {
  font-size: 0.8em;
}
.odd-row {
  background: #E0E0E0;
}
table.stat-details td {
  padding: 4px 10px;
}

.live-log-phase {
  white-space: pre-wrap;
  margin-bottom: .8em;
}
.staract-line {
  position: absolute;
  height: 208px;
  width: 2px;
  background-image: linear-gradient(180deg, transparent, transparent 50%, #fff 50%, #fff 100%), linear-gradient(180deg, #00c3ff,#df00ff,#FF0060);
  background-size: 2px 12px, 2px 100%;
  z-index: 5;
}

.sense-add-light {
  position: absolute;
  left: 13.5px;
  font-size: 16px;
  line-height: 10px;
  color: rgb(177,177,177);
}
.sense-add-light[data-sense-type="support"] {
  color: rgb(98,187,69);
}
.sense-add-light[data-sense-type="control"] {
  color: rgb(192,54,54);
}
.sense-add-light[data-sense-type="amplification"] {
  color: rgb(236,180,35);
}
.sense-add-light[data-sense-type="special"] {
  color: rgb(40,80,188);
}
.sense-add-light::before {
  content: "✦";
}

.list-icon-container {
  display: inline-block;
  padding: 5px 5px 0;
  text-align: center;
  position: relative;
  max-width: 64px;
}
.list-icon-container.small-text {
  font-size: 13px;
}
.list-icon-container.arial {
  font-family: Arial;
}
.list-icon-container.selected {
  background-image: repeating-linear-gradient(
    45deg,
    rgba(80,80,80,0.2),
    rgba(80,80,80,0.2) 5px,
    rgba(150,150,150,0.2) 5px,
    rgba(150,150,150,0.2) 10px
  );
  background-size: 999px 999px;
  background-position: 50%;
  animation: selected_bg_anim linear 10s infinite;
}
@keyframes selected_bg_anim {
  0% {
    background-position: 50%;
  }
  100% {
    background-position: calc(50% + 141.42px);
  }
}
input[type=checkbox].icon-selection {
  display: none;
  pointer-events: none;
}
input[type=checkbox].icon-selection:checked {
  display: initial;
  position: absolute;
  top: 3px;
  left: 3px;
}
.list-multi-update-container {
  z-index: 4;
  background: rgba(255, 255, 255, 0.8);
  padding-bottom: 5px;
  font-size: 16px;
}
.list-multi-update-container.empty {
  pointer-events: none;
}
.list-multi-update-container:not(.empty) {
  position: sticky;
  top: 44px;
}

.party-member input[type=radio] {
  vertical-align: top;
}
.party-member .spriteatlas-characters,.party-member .spriteatlas-posters,.party-member .spriteatlas-accessories,.empty-icon {
  --target-size: 48;
  --sprite-x: -999px;
  --sprite-y: -999px;
  --sprite-width: 64px;
  --sprite-height: 64px;
  --sprite-scale: 1;
  margin-left:20px;
}
.spriteatlas-characters[data-id=""],.spriteatlas-posters[data-id=""],.spriteatlas-accessories[data-id=""] {
  border: dashed 2px;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: rgb(230,230,230);
}

body.picking {
  overflow: hidden;
}
.picking-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  overflow: auto;
  overflow-x: hidden;
}
.picking-container {
  width: 670px;
  margin: 0 auto;
  background: white;
  padding: 20px;
}
@media (max-width: 670px) {
  .picking-container {
    width: 100%;
    padding: 10px 5px;
  }
}
select {
  max-width: 95vw;
}

.character-category {
  background: #E0E0E0;
  padding: 1px 3px;
  margin: 2px .3em;
  border-radius: 5px;
  display: inline-block;
}

@media (max-width: 1200px) {
  .side-menu-container {
    display: none;
  }
}
.side-menu-container {
  position: fixed;
  top: 40px;
  left: calc(50vw + 405px);
  width: 200px;
}
.side-menu-item {
  content: '';
  border-left: gray 2px solid;
  cursor: pointer;
  padding-left: 5px;
  transition: border-left-color 0.2s;
}
.side-menu-item:hover, .side-menu-item.active {
  border-left-color: cyan;
}
