body {
  max-width: 800px;
  margin:  5px auto 30px;
  cursor: default;
  font-family: Arial, Meiryo;
}
#error_message, #loading {
  white-space: pre-wrap;
}

img {
  width: 200px;
}

.margin-box {
  margin-bottom: 40px;
}

.sense-render-box {
  height: 210px;
  width: 100%;
  font-weight: bold;
}
.sense-lane {
  width: 100%;
  height: 40px;
  display: flex;
}
.sense-lane:not(:last-of-type) {
  border-bottom: 2px solid black;
}
.sense-lane-ct {
  font-weight: initial;
  line-height: 40px;
  width: 50px;
}
.sense-lane-box {
  width: 100%;
  position: relative;
}
.sense-node {
  position: absolute;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(177,177,177)' stroke='rgb(145,145,145)' stroke-width='1.5' y='39'>✦</text></svg>");
  color: white;
}
*[data-sense-type="support"] .sense-node {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(141,229,83)' stroke='rgb(98,187,69)' stroke-width='1.5' y='39'>✦</text></svg>");
}
*[data-sense-type="control"] .sense-node {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(235,67,64)' stroke='rgb(192,54,54)' stroke-width='1.5' y='39'>✦</text></svg>");
}
*[data-sense-type="amplification"] .sense-node {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(255,199,63)' stroke='rgb(236,180,35)' stroke-width='1.5' y='39'>✦</text></svg>");
}
*[data-sense-type="special"] .sense-node {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='40'><text style='font:54px Arial' text-anchor='middle' x='20' fill='rgb(52,90,212)' stroke='rgb(40,80,188)' stroke-width='1.5' y='39'>✦</text></svg>");
}
.sense-star::before {
  content: "✦";
  color: rgb(177,177,177);
}
.sense-star[data-sense-type="support"]::before {
  color: #228b22;
}
.sense-star[data-sense-type="control"]::before {
  color: #ff0000;
}
.sense-star[data-sense-type="amplification"]::before {
  color: #ffd700;
}
.sense-star[data-sense-type="special"]::before {
  color: #0000ff;
}

.card-attribute-cute::before {
  content: "憐";
  color: #ff679d;
  font-size: 0.8em;
}
.card-attribute-cool::before {
  content: "凛";
  color: #33B4DF;
  font-size: 0.8em;
}
.card-attribute-colorful::before {
  content: "彩";
  color: #7AC940;
  font-size: 0.8em;
}
.card-attribute-cheerful::before {
  content: "陽";
  color: #FF9314;
  font-size: 0.8em;
}

.posters > div {
	margin-bottom: 1em;
}
.accessories > div {
	margin-bottom: 1em;
}

.stat {
  text-align: right;
}
table.stat-details {
  text-align: center;
  white-space: pre-wrap;
  border-collapse: collapse;
}
.stat-value {
  font-size: 0.8em;
}
.odd-row {
  background: #E0E0E0;
}
table.stat-details td {
  padding: 4px 10px;
}

.live-log-phase {
  white-space: pre-wrap;
  margin-bottom: .8em;
}
